
<div class="row">    
    <h1>Lista de Filmes</h1>    
</div>
<div class="row">
    <div class="col-xs-12 col-sm-2">
        <button type="button" data-ng-click="novo()" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-plus"></span> Novo</button>
    </div>
    <div class="col-xs-12 col-sm-3 col-sm-offset-7">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="searchField">Procurar</label>
                <input type="text" data-ng-model="busca" class="form-control" id="searchField"placeholder="Procurar" data-focus>
            </div>            
        </form>
    </div>
</div>
<div class="row">
    <div data-ng-repeat="filme in filmes | filter:busca" class="col-xs-12 col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>{{filme.titulo}}</h3>
            </div>
            <div class="panel-body">
                <p>{{filme.ano}}</p>
                <p>{{filme.genero.descricao}}</p>
                <ul>
                    <li data-ng-repeat="ator in filme.elenco">
                        {{ator.nome}}
                    </li>
                </ul>
            </div>

            <div class="panel-footer">
                <button data-ng-click="detalhes(filme.id)" type="button" class="btn btn-primary">Detalhes</button>
                <button data-ng-click="editar(filme.id)" type="button" class="btn btn-info">Editar</button>
            </div>

        </div>
    </div>
</div>