<div class="row"> 
    <div class="col-xs-12">
        <h1>{{ator.id}}</h1>        
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <p>
            {{ator.nome}}
        </p>
        <p>

        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div>
            <button data-ng-click="apagar(ator.id)" type="button" class="btn btn-danger">Apagar</button>
            <button data-ng-click="editar(ator.id)" type="button" class="btn btn-info">Editar</button>
        </div>
    </div>
</div>