<div class="row">
    <h1>{{title}} Gênero</h1>    
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <form>
            <div class="form-group">
                <label for="generoDescricao">Descrição</label>
                <input id="generoDescricao" type="text" class="form-control" data-ng-model="genero.descricao" value="{{genero.descricao}}" placeholder="Digite a Descrição" required focus />
            </div>
            <button type="submit" data-ng-click="saveUpdate()" class="btn btn-success">{{title}}</button>
            <button type="button" data-ng-click="voltar()" class="btn btn-default">Voltar</button>
        </form>
    </div>
</div>